{% extends 'layout.html' %}

{% block title %}
{{ title }} {{ user.username }}
{% endblock title %}

{% block content %}


<table class="table table-hover followers">
    <thead><tr><th>User</th><th>Since</th></tr></thead>
    {% for follow in pagination.items %}
        {% if follow.user != user %}
    <tr>
        <td>
            <a href="{{ url_for('users.user_info_2', username = follow.followers) }}">
                    {{ follow.followers }}
            </a>
        </td>
       
    </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock content %}